.sidebar{
    width:260px;
    background:#ffffff;
    border-right:1px solid #e5e7eb;

    display:flex;
    flex-direction:column;

    padding:28px 18px;
}

.sidebar-logo{
    margin-bottom:40px;
}

.sidebar-logo h2{
    font-size:24px;
    color:#2563eb;
    margin-bottom:4px;
}

.sidebar-logo span{
    font-size:14px;
    color:#6b7280;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.menu-item{
    display:flex;

    gap:14px;

    text-decoration:none;

    color:#374151;

    padding:14px 16px;

    border-radius:10px;

    transition:.2s;
}

.menu-item:hover{
    background:#eff6ff;
    color:#2563eb;
}

.menu-item.active{
    background:#2563eb;
    color:white;
}

.sidebar-footer{
    margin-top:40px;
}